div{
    color: black;
}
    
body{
    background-color: white;
}
.ye{
    margin-bottom:0px;
}
.eru{
    padding: 5px;
   margin-bottom:0px;
    padding-bottom:20px; 
    
}

.hoo{
    margin-left:350px;
   
}
a{
    text-decoration: none;
    overflow: hidden;
    color: black;
    float: left;
    padding-left:10px;
    padding-right: 0px;
    margin-left: 90px;
    border-right: 3px solid white;
     
}

ul li{
    
    list-style-type: none;
}
h1,h3{
    padding-left: 200px;
}
.home{
    background-color: #F0F0F5;
    padding: 100px;
    margin-left: 50px;  
    margin-right: 50px;
}
.bu{
    flex-direction: row;
    padding-left: 200px;
}
.su{
    background-color: rgb(97, 97, 238);
    color: antiquewhite;
    border: none;
    box-shadow: 2px 2px 2px black;
    padding-right: 10px;
    margin-left: 34px;
    height: 28px;
    width: 150px;
}
.b{
    background-color: #5E3AEE;
    border: none;
    padding: 10px;
    width: 120px;
}
.di{
    background-color: white;
    color: black;
    border: none;
    box-shadow: 2px 2px 2px black;
    height: 28px;
    width: 150px;
}
.bb{
    background-color: black;
    color: white;
    padding: 60px;
    padding-left: 200px;
    float: inline-start;
}
.co{
    border: none;
    color: white;
    background-color: rgb(11, 11, 209);
    box-shadow: 1px 1px 1px white;
}
.cont{
    background-color: gray;
    padding: 56px;
    padding-left: 200px;
    float: inline-start;
}
.us{
    margin-top:0px;
    color: white;

}
.tu{
    color: blue;
}
.dii{
    color: blue;
}
.image{
    height: -50px;
}
form{
    
}
.fo{
    background-color: #5E3AEE;
    color: white;

} 